/* ForgotPasswordPage.css */

.ForgotPasswordParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: whitesmoke;
}

.ForgotPasswordParent.dark {
    background-color: #333;
}

.ForgotPasswordContainer,
.OtpContainer {
    margin: 60px 0px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    gap: 10px;
    background-color: white;
}

.ForgotPasswordContainer.dark,
.OtpContainer.dark,
.ResetPasswordContainer.dark {
    background-color: whitesmoke;
}

.ForgotPasswordContainer label {
    font-weight: 600;
}

.ForgotPasswordContainer input,
.OtpContainer input,
.ResetPasswordContainer input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.ForgotPasswordContainer input:focus,
.OtpContainer input:focus,
.ResetPasswordContainer input:focus {
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.ForgotPasswordContainer button,
.OtpContainer button,
.ResetPasswordContainer button {
    padding: 8px;
    border-radius: 8px;
    background-color: #333;
    color: white;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

.ForgotPasswordContainer button:hover,
.OtpContainer button:hover {
    background-color: black;
}

.OtpContainer p {
    text-align: center;
    font-size: smaller;
}

.OtpContainer label {
    font-weight: 500;
}

.ResetPasswordContainer {
    margin: 60px 0px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    gap: 10px;
    background-color: white;
}

.ResetPasswordContainer h1 {
    text-align: center;
}

.ResetPasswordContainer p {
    text-align: center;
    font-size: smaller;
}

.ResetPasswordContainer label {
    font-weight: 500;
}

.ResetPasswordContainer input {
    width: 400px;
}

.ResetPasswordContainer button {
    margin-top: 5px;
}

.PasswordInputContainer {
    position: relative;
    display: flex;
}

.PasswordInputContainer input {
    flex: 1;
    padding-right: 35px;
}

.ErrorMessage {
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    text-align: center;
}