/*ChangePasswordPage.jsx */
* {
  padding: 0;
  margin: 0;
}

.ChangePassword {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 90px);
  padding: 40px 0px;
}

.ChangePassword.dark {
  background-color: #222;
}

.ChangePasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.ChangePasswordContainer p {
  font-size: 55px;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

.ChangePasswordInputContainer {
  display: flex;
  align-items: center;
  width: 90%;
  position: relative;
}

.ChangePasswordContainer input {
  flex: 1;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.ChangePasswordContainer input:focus {
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.LoginTogglePassword {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  position: absolute;
}

.ChangePasswordContainer button {
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  background-color: #333;
  color: white;
  font-weight: 500;
  margin: 10px;
}