.RegistrationForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.RegistrationForm label {
    font-weight: bold;
    color: black;
}

.RegisterInputContainerParent {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.RegisterInputContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.RegisterInputBox {
    padding: 10px;
    padding-right: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.RegisterInputBox:focus {
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.PasswordInputContainer {
    position: relative;
}

.TogglePassword {
    text-decoration: none;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: 500;
}